<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{{ site.footer_title }}</h2>
        <p>
        Main showcase by <a href="{{site.baseurl}}/">LemonTeaHK</a>.<br/>
        More pictures available by <a href="{{site.baseurl}}/szeto">Mike Szeto</a>.<br/>
        And <a href="{{site.baseurl}}/panerai">Tomo Panerai</a>. <br/>
        <br/>
        <a href="http://files.johnho.ca/owncloud/index.php/s/Iw6p3e5t3CsiFV9">Download</a> these awesome pictures (Password: littletaihang).
        </p>
      </section>
      {% if site.show_social %}
      <section>
        <h2>Follow me on ...</h2>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
          <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
      </section>
      {% endif %}
      <p class="copyright">
        &copy; {{ site.title }}. {{site.credit_text}}
      </p>
    </div>
    {% if site.show_contact_form %}
    <div>
      <section>
        <h2>Get in touch</h2>
        <form method="post" action="#">
          <div class="field half first">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="field half">
            <input type="text" name="email" id="email" placeholder="Email" />
          </div>
          <div class="field">
            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send" class="special" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </form>
      </section>
    </div>
    {% endif %}
  </div>
</footer>
